* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
  background-color: #ecf0f3;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ecf0f3;
}

.calculator {
  background-color: black;
  box-shadow: 0px -2px 5px 0px #ecf0f3;
  border: 1px solid #ecf0f3;
  border-radius: 26px;
  height: 500px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4,68px);
}

input {
  grid-column: span 4;
  border-radius: 12px;
  background: black;
  color: white;
  font-size: 40px;
  margin: 20px 0 10px 5px;
  height: 70px;
  width: 260px;
  text-align: end;
}

button {
  background: #505050;
  border-radius: 50%;
  border: none;
  color: white;
  height: 50px;
  margin: 10px;
  width: 50px;
  font-size: 24px;
}
button:active {
  background: #d4d4d2;
}

.first {
  background: #d4d4d2;
  color: #1c1c1c;
}
.first:active {
  background: #505050;
  color: white;
}

.symbol {
  background: #ff9500;
}
.symbol:active {
  background: white;
  color: #ff9500;
}

#equal-sign {
  width: 120px;
  border-radius: 42px;
}
